################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/OrganizadorTareas/FileContentIndex/45a141ee-3cc4-4d57-a89a-cf1e549c81a5.vsidx
