################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrgnizadorTareas-ProyectoPED/FileContentIndex
/.vs/OrganizadorTareas/FileContentIndex
/.vs/OrgnizadorTareas-ProyectoPED/v17
